<header>
    <div class="container">
        <h3>Trang chủ</h3>
        <nav>
            <ul>
                <li><a href="/admin?page=1">Quản lí mẫu</a></li>
                <li><a href="#">Quản lí nhãn</a></li>
                <li><a href="#">Quản lí Model</a></li>
                <li><a href="/logout">Đăng xuất</a></li>
            </ul>
        </nav>
    </div>
</header>