<header>
    <div class="container">
        <h3>Trang chủ</h3>
        <nav>
            <ul>
                
                <li><a href="/logout">Đăng xuất</a></li>
            </ul>
        </nav>
    </div>
</header>